/MongoConsumerLibary/bin
/MongoConsumerLibary/.vs
/MongoConsumerLibary/obj


/MongoConsumer/bin
/MongoConsumer/.vs
/MongoConsumer/obj

MongoConsumer/ClassDiagram.cd

MongoConsumerLibary/ClassDiagram.cd
